<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>RSC Inovação</title>
</head>
<body>

    <header>
        <nav>
            <a href=""><img src="assets/img/logo-rsc-azul.png" alt="logoRSC"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Sobre Nós</a></li>
                <li><a href="/">Desenvolvimento de Aplicativos</a></li>
                <li><a href="/">Loja Online</a></li>
                <li><a href="/">Afiliações</a></li>
                <li><a href="/">FAQ</a></li>
                <li><a href="/">Blog</a></li>
            </ul>
        </nav>
    </header>
    <!--DONE-->

    <!--GRADIENT BUTTOM-->
    <div id="first-section">
        <section class="presentation">
            <div class="tech-presentation">
                <h1>Tecnologia para você Vender no Meio Digital</h1>
                <p>Criamos sua Loja Virtual e Aplicativos Web e Mobile com foco em facilidade, simplicidade e otimização de tempo para você vender mais e aumentar seu alcance online.</p>
            </div>
            <div class="specialist">
                <button>Fale com um especialista</button>    
                <div class="logos-inline">
                    <a href=""><img src="assets/img/aws-logo.png" alt="logo-aws"></a>
                    <a href=""><img src="assets/img/empresa-associada1-logo.png" alt="logo-empresas-associadas"></a>            
                </div>        
            </div>
        </section>    
    </div>
    <!--DONE-->    

    <section class="leaves">
        <section class="inovation">
            <div class="business-inovation">
                <h1>Inovação para o seu Negócio</h1>
                <p>Precisa ser digital? Ajudamos pequenos e médios empresários a transformar sua presença online para vender mais, evitando a perda de receita e ampliando seu posicionamento e alcance na internet.</p>
            </div>
        </section>    
    </section>  
    <!--DONE-->  

    <section class="web-app-mobile">
        <a href=""><img src="assets/img/Compu-Celular.png" alt="ComputerMobileLeaves"></a>
        
        <div class="dev-app-mobile">
            <h1>Aplicativos Web <br>& Mobile</h1>
            <p>Temos um time multidisplinar que se <br>preocupa não apenas em desenvolver, mas entregar projetos assertivos e alinhados aos objetivos estratégicos dos nossos clientes. <br>Com isso conseguimos criar aplicativos além <br>das funcionalidades rotineiras e trazer <br>otimização de todos os processos.</p>
            <button>SAIBA MAIS</button>
        </div>
    </section>
    <!--DONE-->

    <!--PESQ ABRIR E FECHAR INFO-->
    <section class="purpose">
        <div class="text-purpose">
            <h1>Nosso Propósito</h1>
            <p>Facilitar o dia a dia das empresas, entregando soluções que automatizam o trabalho <br>operacional, através de tecnologia e processos, deixando para as máquinas toda a <br>burocracia, para dedicar o seu tempo e energia naquilo que realmente importa: o<br> crescimento do negócio.</p>
        </div>
        <div class="cards">
            <div class="card">
                <img src="assets/img/missão.png" alt="missão">
                <h1>Missão</h1>
                <p>Nossa missão é de construir aplicações, implementar serviços e conduzir projetos de tecnologia da informação que ajudarão as empresas a melhorar sua gestão e eficiência operacional na era da transformação digital.</p>
            </div>
            <div class="card">
                <img src="assets/img/valores.png" alt="valores">
                <h1>Valores</h1>
                <p>Nós acreditamos na transparência da organização, criamos uma cultura interna para que todos os nossos funcionários e prestadores de serviço se sintam parte da inovação que estamos nos propondo a criar para nossos clientes, tudo isso com base em igualdade de oportunidades e preocupação com o meio ambiente.</p>
            </div>
            <div class="card">
                <img src="assets/img/visão.png" alt="visão">
                <h1>Visão</h1>
                <p>Queremos ser reconhecidos como referência na área de tecnologia ao oferecer soluções automatizadas que trazem as empresas para um novo patamar. Para conquistar essas metas criamos ações de auto avaliação para mantermos o padrão em nossos produtos e serviços.</p>
            </div>
        </div>
    </section>
    <!--DONE-->

    <section class="contact-us">
        <h1>Fale Conosco</h1>
        <div class="content-contact">
            <div class="contact-rsc">
                <h2>Contate a RSC Inovação do seu jeito</h2>
                <h2 class="preparados">Estamos preparados para atender <br>sua empresa da melhor forma <br>possível, com soluções <br>personalizadas para que você tenha <br>o melhor atendimento.</h2>
                <p>Contudo, nosso horário de atendimento é de <br>segunda a sexta-feira das 09:00 às 18:00 horas</p>
            </div>
            <div class="contacts-links">
                <a href="/">
                    <span><img src="assets/img/contact-phone.png" alt="contact-whats"></span>
                    Enviar mensagem via WhatsApp
                </a>
                <a href="/">
                    <span><img src="assets/img/contact-form.png" alt="contact-form"></span>
                    Preencha nosso Formulário de Contato
                </a>
                <a href="/">
                    <span><img src="assets/img/contact-email.png" alt="contact-email"></span>
                    Envie e-mail contato@rscinovacao.com.br
                </a>
                <a href="/">
                    <span><img src="assets/img/contact-call.png" alt="contact-call"></span>
                    Ligue (11) 4858-6662
                </a>
                <a href="/">
                    <span><img src="assets/img/contact-blog.png" alt="contact-blog"></span>
                    Acompanhe nosso Blog
                </a>
            </div>        
        </div>        
    </section>
    <!--DONE-->

    <section class="form">
        <div class="form-next-step">
            <h2 class="test">Vamos para o próximo passo?</h2>
            <p class="contact-you">Nós entramos em contato com você! Preencha o formulário <br>com seus dados</p>
        </div>
        <div class="input-holder">
            <input type="text" placeholder="Nome">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Celular">
        </div>
        <button class="send-form">Enviar Formulário</button>
        <p class="promisse">Prometemos não utilizar suas informações de <br>contato para enviar qualquer tipo de SPAM.</p>
    </section>
    <!--DONE-->

    <section class="our-plans">
        <div class="check-plans">
            <h2>Confira</h2>
            <h1>Nossos Planos</h1>
        </div>
        <div class="card-plans">
            <div class="card-mobile">
                <h2>Aplicativos Web & Mobile</h2>
                <p>Muito mais que aplicativos, entendemos <br>suas necessidades e lhe ajudamos <br>a alcançar seus objetivos!</p>
                <button class="know-more">Saiba Mais</button>
            </div>
            <div class="card-virtual">
                <h2>Loja Virtual</h2>
                <p>Temos uma plataforma completa para os <br>principais setores de atacado <br>e varejo <i>B2B</i> e <i>B2C</i></p>
                <button class="know-more">Saiba Mais</button>
            </div>
        </div>
    </section>
    <!--DONE-->

    <!--PESQ CARROSSEL-->
    <section class="customers-opinion">
        <h1>O que nossos clientes dizem:</h1>
        <div class="cards-opinion">
            <img src="assets/img/Clientes 01-carousel.svg" alt="clientOpinion">
            <img src="assets/img/Clientes 02-carousel.svg" alt="clientOpinion">
            <img src="assets/img/Clientes 01-carousel.svg" alt="clientOpinion">
        </div>
    </section>
    <!--DONE-->

    <section class="interested-solution">
        <div class="solution">
            <h1>Se interessou em nossas soluções?</h1>
            <p>Para garantir o sucesso do seu negócio fale com nossos consultores e marque uma reunião!</p>
        </div>
        <button class="consultants">Entre em contato</button>
    </section>

    <section class="follow">
        <h1>Nos siga em nossas redes sociais e saiba mais sobre a empresa e nossas soluções.</h1>
        <div class="infos">
            <div class="info">
                <img src="" alt="whats-icon">
                <h2>WhatsApp</h2>
                <p>+55 11 4858-6662</p>
            </div>
            <div class="info">
                <img src="" alt="email-icon">
                <h2>Contato</h2>
                <p>contato@rscinovacao.com.br</p>
            </div>
            <div class="info">
                <img src="" alt="location-icon">
                <h2>Endereço</h2>
                <p>Av. Pres. Juscelino Kubitschek, 1327 - 4º Andar - Itaim Bibi <br> São Paulo - SP, 04543-011</p>
            </div>
        </div>
        <div class="socialmedia-links">
            <a href=""><img src="" alt="linkedinRSC">LinkedInRSC</a>
            <a href=""><img src="" alt="facebookRSC">FacebookRSC</a>
            <a href=""><img src="" alt="instagramRSC">InstagramRSC</a>
        </div>
    </section>

    <section class="footer">
        <div class="footer-solutions">
            <h1>Soluções</h1>
            <a href="/">Loja Online</a>
            <a href="/">Desenvolvimento de Aplicativos Web e Mobile</a>
        </div>
        <div class="footer-explore">
            <h1>Explore</h1>
            <a href="/">Blog</a>
            <a href="/">Sobre Nós</a>
            <a href="/">Contato</a>
            <a href="/">Trabalhe Conosco</a>
        </div>
        <div class="logo-rsc">
            <img src="" alt="logo-rsc-colorido">
        </div>
    </section>
    
</body>
</html>