<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSC Inovação</title>
</head>
<body>

    <header>
        <nav>
            <a href=""><img src="" alt="logoRSC"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Sobre Nós</a></li>
                <li><a href="/">Desenvolvimento de Aplicativos</a></li>
                <li><a href="/">Loja Online</a></li>
                <li><a href="/">Afiliações</a></li>
                <li><a href="/">FAQ</a></li>
                <li><a href="/">Blog</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>