@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --body-color: #ffffff;
    --background-presentation: #f8f9fd;
    --font-header: #1E2978;
    --contact-us-blue: #2F3BEA;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
}
a{
    text-decoration: none;
}

/*===HEADER===*/
header{
    background-color: var(--background-presentation);
}

/*===SECTION PRESENTATION===*/
.presentation{
    margin-top: 10px;
    background: blue;
}

/*===SECTION INOVATION===*/
.inovation{
    margin-top: 10px;
    background: blue;
}

/*===SECTION WEB-APP-MOBILE===*/
.web-app-mobile{
    margin-top: 10px;
    background: blue;
}

/*===SECTION PURPOSE===*/
.purpose{
    margin-top: 10px;
    background: blue;
}

/*===SECTION CONTACT-US===*/
.contact-us{
    margin-top: 10px;
    background: blue;
}

/*===SECTION FORM===*/
.form{
    margin-top: 10px;
    background: blue;
}

/*===SECTION OUR PLANS===*/
.our-plans{
    margin-top: 10PX;
    background: blue;
}

/*===SECTION CUSTOMERS-OPINION===*/
.customers-opinion{
    margin-top: 10px;
    background: blue;
}

/*===SECION INTERESTED SOLUTION===*/
.interested-solution{
    margin-top: 10PX;
    background: blue;
}

/*===SECTION FOLLOW===*/
.follow{
    margin-top: 10px;
    background: blue;
}

/*===SECTION FOOTER===*/
.footer{
    margin-top: 10px;
    background: blue;
}